<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>加入LINE 好友</title>
    <meta property="og:title" content="接收比賽邀請" />
    <meta property="og:description" content="進來確認校友隊各類資訊！" />
    <meta property="og:image" content="https://storage.googleapis.com/web_portal_images/logo_square.png" />
    
    <meta http-equiv="refresh" content="1;url=https://lin.ee/MGuzvWu" />
</head>
<body>
    <h1>正在跳轉中，等一下喔...</h1>
    <p>如果還沒有自動跳轉，就按一下<a href="https://lin.ee/MGuzvWu">這裡</a>連過去吧！</p>
</body>
</html>