<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>臺大校友看板</title>
    <meta property="og:title" content="臺大校友看板" />
    <meta property="og:description" content="進來確認校友隊各類資訊！" />
    <meta property="og:image" content="https://storage.googleapis.com/web_portal_images/logo_square.png" />
</head>
<body>
    <h1>歡迎！這邊還沒有資訊，以後再看看吧～</h1>
    <img width="300" height="300" src="https://storage.googleapis.com/web_portal_images/logo_square.png" alt="隊徽">
</body>
</html>