<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自動登入中...</title>
    <meta property="og:title" content="臺大校友看板" />
    <meta property="og:description" content="進來確認校友隊各類資訊！" />
    <meta property="og:image" content="https://storage.googleapis.com/web_portal_images/logo_square.png" />
    
    <meta http-equiv="refresh" content="0.5;url=/line/login" />
</head>
<body>
    <h1>正在登入中，等一下喔...</h1>
    <p>如果還沒有自動登入，就按一下<a href="/line/login">這裡</a>連過去吧！</p>
</body>
</html>