.gcloudignore
.git
.gitignore

.env.yaml
.env*
credentials*.json
service-account*.json
*.pem
*.key
*.dump
*.backup
*.sqlite*

tests/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
.venv/

dist/*
!dist/shared_lib-0.0.1.tar.gz
